.moviecard {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    &__image {
    }

    &__info {
    }

    &__title {
    }

    &__about {
    }

    &__rating {
    }

    &__actions {
    }

    &__btn {
    }
}
